@media(min-width:377px){
    *{
        display: none;
    }
}
@media(max-width: 376px){
    *{
        font-family: Arial, Helvetica, sans-serif;
    }
    .header{
        background-color: #065D6C;
        min-width: 200px;
        width: 100%;
        height: 45px;
        line-height: 45px;
        margin: 0 auto;
    }
    .header span{
        font-family: initial;
    }
    .header img{
        height: 35px;
    }
    .menu{
        height: 35px;
        line-height: 35px;
        background-color: rebeccapurple;
        overflow: auto;
        white-space: nowrap;
        padding: 0 10px;
    }
    .menu a{
        margin: 10px;
        text-decoration: none;
        color: white;
        
    }
    .doctor{
        padding: 5px 0px;
    }
    .sdoctor{
        margin: 15px 8px;
        padding: 5px;
        background-color: #f4f4f4;
        box-shadow: 0px 0px 4px 4px #ccc;
    }
    .row{
        margin: 0;
    }
    .doctor h5{
        font-size: 20px;
        margin: .3rem 0 !important;
    }
    .doctor p{
        /* padding: 0px; */
        margin: 0;
        font-size: 15px;
    }
    .doctor .col-8{
        padding: 0;
    }
    
}